.primera {
    color: blue;
    background-color: rgb(141, 202, 255);
    text-align: left;
    font-size: 15px;
}

.segunda {
    color: rgb(248, 81, 81);
    background-color: rgb(136, 11, 11);
    text-align: left;
    font-size: 15px;
}

.tercera {
    color: rgb(175, 175, 175);
    background-color: black;
    text-align: left;
    font-size: 15px
}

.cuarta {
    color: rgb(255, 142, 67);
    background-color: rgb(255, 190, 170);
    text-align: left;
    font-size: 15px;
}

.quinta {
    color: blue;
    background-color: blanchedalmond;
    text-align: left;
    font-size: 15px;
}