<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imsub</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
        <img id="logo_principal" src="../public/images/IMSUB_LOGO_016.png" alt="Logo de Imsub">
        <ul>
            <li> <a href="#titulo_uno" > Principales</a></li>
            <li> <a href="#titulo_dos"> Más vendidos</a></li>
            <li> <a href="#titulo_tres"> Más artículos</a></li>
            <li><a href="https://wa.me/584149337748"> Contacto</a></li>
        </ul>
        <form action="">
            <input type="text" placeholder="Buscar artículo ">  
             <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </header>
    <main>
        <h2 id="titulo_uno">Principales</h2>
        <section>
            <article>
                <img id="Forro_Real" src="../public/images/d1d6952d-1439-433e-b33f-11c4f0570202.jpeg" alt="Forro del Real Madrid">
                <h2>Forro Iphone 15 pro max</h2>
                <p class="precio">10$</p>
            </article>
            <article>
                <img id="Foto_modelo" src="../public/images/foto_de_ricardo.jpeg" alt="Foto con modelo">
                <h2>Franela de Entrenador</h2>
                <p class="precio">12$</p>
            </article>
                <article>
                    <img id="taza_X" src="../public/images/taza_xmen.jpeg" alt="Taza de X-men">
                    <h2>Taza negra de X-men</h2>
                <p class="precio">5$</p>
            </article>
        </section>
        <h2 id="titulo_dos">Más vendidos</h2>
        <section>
            <article>
                <img id="foto_laura" src="../public/images/laura.jpeg" alt="">
                <h2>Franela de Taylor Swift</h2>
                <p class="precio">10$</p>
            </article>
            <article>
                <img id="spiderman" src="../public/images/spiderman.jpeg" alt="">
                <h2>Franelas en Pareja</h2>
                <p class="precio">12$ c/u</p>
            </article>
            <article>
                <img id="taylor_franela" src="../public/images/Taylor S.jpeg" alt="">
                <h2>Modelos de Taylor Swift</h2>
                <p class="precio">10$</p>
            </article>
        </section>
        <h2 id="titulo_tres">Más artículos</h2>
        <section>
            <article>
                <img id="cars" src="../public/images/cars.jpeg" alt="">
                <h2>Modelo en Parejas</h2>
                <p class="precio">13$ c/u</p>
            </article>
            <article>
                <img id="intensamente" src="../public/images/intensamente.jpeg" alt="">
                <h2>Modelos de intensamente</h2>
                <p class="precio">7$</p>
            </article>
            <article>
                <img id="Tazas" src="../public/images/tazas de cafe.jpeg" alt="">
                <h2>Personaliza tu taza</h2>
                <p class="precio">5$</p>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-div">
            <img id="logo_principal" src="../public/images/IMSUB_LOGO_016.png" alt="logoDos">
            <ul class="li-footer">
                <li class="lista"><a class="Redes-sociales" href="https://www.instagram.com/imsub_ve/">Instagram</a></li>
                <li class="lista"><a class="Redes-sociales" href="https://www.tiktok.com/@imsub_ve">Tik tok</a></li>
                <Li class="lista"><a class="Redes-sociales" href="https://www.facebook.com/">Facebook</a></Li>
            </ul>
        </div>
        <p id="derechos">Imsub 2024 Todos los derechos reservados</p>
    </footer>
</body>
</html>